@charset "utf-8";
/*竖屏*/
@media screen and (orientation:portrait) {
	body { background: #000 url(../images/app.png) no-repeat center center; display: block; width: 768px; height: 1024px; overflow: hidden; opacity: 0.5; }
	body div { display: none; }
	#mp3 { display: none; }
}

/*横屏*/
@media screen and (orientation:landscape) {
	* { margin: 0px; padding: 0px; }
	html { width: 100%; height: 100%; overflow: hidden; }
	body { font-family: "宋体", Arial, Helvetica, sans-serif; font-size: 12px; color: #000; line-height: 20px; background: url(../images/b_1.png); width: 100%; height: 100%;  overflow: hidden; }
	a { color: #000; text-decoration: none; }
	ol, ul, li { list-style-type: none; }
	img { border: 0px; }
	#wrap { width: 100%; height: 100%; position: relative;
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		-webkit-backface-visibility: hidden;
	}
	#mp3 { display: none; }
	
	/*开始*/
	.logo { background: #F2F0ED url(../images/logo.png) no-repeat center center; width: 100%; height: 530px; }
	.copyright { font-family: Arial, Helvetica, sans-serif; line-height: 26px; text-align: center; width: 100%; height: 52px; overflow: hidden; position: absolute; left: 0px; bottom: 30px; }
	.copyright p { line-height: 30px; background: url(../images/logo_gq.png) no-repeat left center; width: 280px; height: 30px; margin: 0px auto; }
	
	/*场景一*/
	#synopsis { background: #F2F0ED; width: 100%; height: 530px; }
	#synopsis h1 { font-size: 52px; line-height: 176px; text-align: center; padding-top: 40px; opacity: 0;
		-webkit-transition: all 0.5s linear;
	}
	#synopsis div { font-size: 16px; line-height: 32px; text-indent: 30px; width: 710px; margin: 0px auto 90px auto;
		-webkit-transition: all 0.5s linear;
	}
	#synopsis p { font-weight: bold; font-size: 16px; color: #FFF; line-height: 55px; background: url(../images/b_2.png); text-align: center; width: 59px; height: 55px; margin: 0px auto; cursor: pointer;
		-webkit-transition-timing-function: linear;
	}
	
	/*场景二*/
	#preSolarTerms { background: #FFF url(../images/b_3.png) no-repeat center center; text-align: center; border: 10px solid #231F20; border-radius: 100%; width: 630px; height: 630px;
		-webkit-transform: scale3d(0.1,0.1,0.1);
		-webkit-transition-duration: 0.5s;
	}
	#preSolarTerms h1, #preSolarTerms h2, #preSolarTerms h3 { opacity: 0; -webkit-transition: all 0.5s linear; }
	#preSolarTerms h1 { font-size: 40px; line-height: 40px; padding-top: 250px;
		-webkit-transition-delay: 0.5s;
	}
	#preSolarTerms h2 { font-size: 78px; line-height: 140px;
		-webkit-transition-delay: 1s;
	}
	#preSolarTerms h3 { font-size: 40px; line-height: 40px;
		-webkit-transition-delay: 1.5s;
	}
	
	/*场景三*/
	#nextSolarTerms { background: #FFF url(../images/b_3.png) no-repeat center center; text-align: center; border: 10px solid #231F20; border-radius: 100%; width: 630px; height: 630px;
		-webkit-transition: all 0.5s linear;
	}
	#nextSolarTerms h1, #nextSolarTerms h2, #nextSolarTerms h3, #nextSolarTerms h4 { opacity: 0; -webkit-transition: all 0.5s linear; }
	#nextSolarTerms h1 { font-size: 36px; line-height: 36px; padding-top: 200px;
		-webkit-transition-delay: 0.5s;
	}
	#nextSolarTerms h2 { font-size: 84px; line-height: 144px;
		-webkit-transition-delay: 1s;
	}
	#nextSolarTerms h3 { font-size: 78px; line-height: 78px;
		-webkit-transition-delay: 1.5s;
	}
	#nextSolarTerms h4 { font-size: 36px; line-height: 104px;
		-webkit-transition-delay: 2s;
	}
	
	/*场景四*/
	#discBox { border-radius: 100%; width: 650px; height: 650px; position: relative; z-index: 90; }
	#beautifyDisc { border: 20px solid #231F20; border-radius: 100%; width: 340px; height: 340px; position: absolute; z-index: 90;
		-webkit-transition: all 0.5s linear;
		-webkit-transform: matrix3d(0.3,0,0,0,0,0.3,0,0,0,0,1,0,135,135,0,1);
		-webkit-transform-origin: center center;
	}
	#triangle-up { border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid #231F20; width: 0; height: 0; opacity: 0; position: absolute; left: 305px; top: 140px; z-index: 80;
		-webkit-transition: all 0.5s linear;
		-webkit-transition-delay: 1s;
	}
	#disc { background: url(../images/b_4.png) no-repeat center center; border: 10px solid #231F20; border-radius: 100%; width: 630px; height: 630px; opacity: 0; position: absolute; z-index: 70;
		-webkit-transition: all 0.5s linear;
		-webkit-transform: matrix3d(0.6,0,0,0,0,0.6,0,0,0,0,1,0,0,0,0,1);
		-webkit-transform-origin: center center;
	}
	#disc span { font-size: 30px; line-height: 30px; width: 30px; padding-top: 40px; position: absolute; left: 300px; top: 0px;
		-webkit-transition-timing-function: linear;
		-webkit-transform-style: preserve-3d;
		-webkit-transform-origin: 50% 315px;
	}
	
	/*场景五*/
	#item { width: 100%; height: 100%; position: absolute; z-index: 60; }
	#item h1 { font-size: 52px; line-height: 80px; text-align: center; margin-top: 40px; }
	#item h2 { font-size: 14px; line-height: 30px; text-align: center; margin-bottom: 25px; }
	#item h2 img { margin: -4px 10px 0px 0px; }
	.itemBg { background: #F2F0ED; width: 100%; height: 465px; overflow: hidden; position: absolute; }
	.itemDoc { font-size: 16px; line-height: 30px; width: 100%; height: 240px; overflow: hidden; margin: 60px 0px; position: relative; }
	.itemDoc div { width: 700px; height: 240px; overflow: hidden; position: absolute; }
	.itemDoc img { float: left; margin-right: 15px; }
	.itemDoc div p { text-indent: 30px; }
	.itemNav { clear: both; width: 316px; height: 55px; overflow: hidden; margin: 0px auto; }
	.itemNav li { font-size: 16px; line-height: 55px; text-align: center; float: left; width: 59px; height: 55px; margin: 0px 10px; }
	.itemNav .cur { color: #FFF; background: url(../images/b_2.png); width: 59px; height: 55px; }
	
	/*背景黑幕*/
	#coverBox { background:rgba(0,0,0,0.5); display: none; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 80; }
	
	/*搜索按钮*/
	#searchBtn { background: #000 url(../images/b_7.png) no-repeat center center; border-radius: 100%; width: 40px; height: 40px; position: absolute; z-index: 70; left: 70px; top: 75px; }
	#searchBox { background: url(../images/b_10.png); width: 904px; height: 710px; overflow: hidden; position: absolute; z-index: 100;
		-webkit-transition: all 0.3s linear;
		-webkit-transform: translate3d(0px, -710px, 0px);
	}
	.searchLeft { float: left; width: 200px; margin: 115px 0px 0px 70px; }
	.searchLeft h1 { font-size: 20px; line-height: 30px; background: url(../images/b_9.png) no-repeat left center; text-indent: 20px; margin-bottom: 20px; }
	.searchLeft select { font-size: 14px; line-height: 36px; border: 2px solid #CFC4AF; clear: both; width: 196px; height: 36px; margin-bottom: 15px; }
	#solarInfo { font-size: 14px; line-height: 30px; text-align: center; display: none; clear: both; width: 100%; margin-bottom: 15px; }
	.searchLeft button { font-size: 20px; color: #FFF; line-height: 50px; background-color: #000; text-align: center; border-radius: 5px; clear: both; width: 200px; }
	.searchRight { float: right; width: 500px; margin: 115px 70px 0px 0px; }
	.searchRight h1 { font-size: 36px; line-height: 36px; text-align: center; margin-bottom: 30px; }
	.solarTermTable { border-bottom: 1px solid #CFC4AF; border-right: 1px solid #CFC4AF; width: 486px; height: 445px; }
	.solarTermTable li { font-size: 20px; line-height: 30px; text-align: center; border-left: 1px solid #CFC4AF; border-top: 1px solid #CFC4AF; float: left; width: 80px; height: 85px; padding-top: 25px; }
	.solarTermTable li span { font-size: 12px; }
	
	/*关于我们*/
	#aboutBtn { background: #000 url(../images/b_6.png) no-repeat center center; border-radius: 100%; width: 40px; height: 40px; position: absolute; z-index: 70; right: 70px; top: 75px; }
	#aboutBox { background: url(../images/b_8.png); width: 413px; height: 705px; overflow: hidden; position: absolute; z-index: 100;
		-webkit-transition: all 0.3s linear;
		-webkit-transform: translate3d(0px, -705px, 0px);
	}
	#aboutBox h1 { font-size: 20px; line-height: 30px; background: url(../images/b_9.png) no-repeat left center; text-indent: 20px; width: 295px; margin: 0px auto 20px auto; }
	.shareBox { text-align: center; width: 332px; height: 63px; overflow: hidden; margin: 0px auto 30px auto; }
	.shareBox a { float: left; width: 63px; height: 63px; overflow: hidden; margin: 0px 10px; }
	.sina { background: url(../images/ioc_1.png) no-repeat center center;  }
	.tengxun { background: url(../images/ioc_2.png) no-repeat center center; }
	.weixin { background: url(../images/ioc_3.png) no-repeat center center; }
	.renren { background: url(../images/ioc_4.png) no-repeat center center; }
	.recommendBox { clear: both; width: 328px; height: 62px; overflow: hidden; margin: 0px auto 30px auto; }
	.recommendBox li { background: #FFF; float: left; width: 62px; height: 62px; overflow: hidden; margin: 0px 10px; }
	.teamBox { font-size: 16px; color: #000; line-height: 32px; width: 295px; margin: 0px auto 30px auto; }
	.copyrightBox { font-family: Arial, Helvetica, sans-serif; line-height: 24px; border-top: 1px solid #CEC3AE; text-align: center; width: 328px; margin: 0px auto; padding-top: 30px; }
}