<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>中国节气_中国国情_中国网</title>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<!--删除默认的苹果工具栏和菜单栏-->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!--控制状态栏显示样式-->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<!--清浏览器缓存-->
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link href="css/master.css" rel="stylesheet" type="text/css">
<script src="lib/jquery-1.9.1.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="js/solat.js"></script>
<script src="js/master.js"></script>
</head>

<body>
<div id="wrap">
	<div class="logo"></div>
  <div class="copyright">
  	<p>中国互联网新闻中心 ● 中国国情出品</p>
  </div>
</div>
<audio id="mp3" src="audio/qjpts.mp3" autoplay="autoplay" loop></audio>
<script type="text/template" id="synopsisTemplate">
	<div id="synopsis">
  	<h1>什么是“节气”？</h1>
    <div>节气指二十四时节和气候，是中国古代订立的一种用来指导农事的补充历法。由于中国农历是一种“阴阳合历”，即根据太阳也根据月亮的运行制定的，因此不能完全反映太阳运行周期，但中国又是一个农业社会，农业需要严格了解太阳运行情况，农事完全根据太阳进行，所以在历法中又加入了单独反映太阳运行周期的“二十四节气”，用作确定闰月的标准。中国正统二十四节气以河南为本。</div>
    <p>进入</p>
  </div>
</script>
<script type="text/template" id="info1Template">
	<div id="preSolarTerms">		
		<h1>今天是</h1>
		<h2><%= month %>月<%= date %>日</h2>
		<h3><%= jieqi %></h3>
	</div>
</script>
<script type="text/template" id="info2Template">
	<div id="nextSolarTerms">
		<h1>距离</h1>
		<h2><%= njieqi %></h2>
		<h3><%= nmonth %>月<%= ndate %>日</h3>
		<h4>还有<%= ts %>天</h4>
	</div>
</script>
<script type="text/template" id="discTemplate">
	<div id="coverBox"></div>
	<div id="searchBtn"></div>
	<div id="searchBox">
		<div class="searchLeft">
			<h1>节气查询</h1>
			<select name="select1" id="select1">
				<option value="2012">2012</option>
				<option value="2013">2013</option>
				<option value="2014">2014</option>
			</select>
			<select name="select2" id="select2"></select>
			<div id="solarInfo"></div>
			<button id="solarBtn">查询日期</button>
		</div>
		<div class="searchRight">
			<h1><span></span>节气表</h1>
			<ul class="solarTermTable"></ul>
		</div>
	</div>
	<div id="aboutBtn"></div>
	<div id="aboutBox">
		<h1 style="margin-top: 110px;">评论分享</h1>
		<div class="shareBox">
			<a href="javascript:window.open('http://e.weibo.com/guoqingzhongxin','_blank','location=yes');" class="sina"></a>
			<a href="http://t.qq.com/zhongguoguoqingcn" target="_blank" class="tengxun"></a>
			<a href="#" class="weixin"></a>
		</div>
		<h1>精彩推荐</h1>
		<ul class="recommendBox">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<h1>策划团队</h1>
		<div class="teamBox">
			<p>监制：詹海涛</p>
			<p>策划：胡俊峰 陶一辉 杨帆 王倩</p>
			<p>设计：陶一辉 王倩</p>
			<p>制作：杨帆 贾珣</p>
		</div>
		<div class="copyrightBox">
			<p>版权所有 中国互联网新闻中心</p>
			<p>Copyright © China.org.cn. All Rights Reserved.</p>
		</div>
	</div>
	<div id="item"></div>
	<div id="discBox">
		<div id="beautifyDisc"></div>
		<div id="triangle-up"></div>
		<div id="disc"></div>
	</div>
</script>
<script type="text/template" id="itemTemplate">
	<h1><%= title %></h1>
	<h2><img src="images/b_5.png" align="absmiddle"><%= time %></h2>
	<div class="itemBg">
		<div class="itemDoc">
			<div><%= jieshao %></div>
			<div><%= youlai %></div>
			<div><%= xisu %></div>
			<div><%= yangsheng %></div>
		</div>
		<ul class="itemNav">
			<li class="cur">介绍</li>
			<li>由来</li>
			<li>习俗</li>
			<li>养生</li>
		</ul>
	</div>
</script>
</body>
</html>