<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>中国节气_中国国情_中国网</title>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<!--删除默认的苹果工具栏和菜单栏-->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!--控制状态栏显示样式-->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<!--清浏览器缓存-->
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="lib/jquery-1.9.1.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>
<script src="js/solat.js"></script>
<script src="js/style.js"></script>
</head>

<body>
<div id="wrapper"></div>
<script type="text/template" id="synopsisTemplate">
	<div id="synopsis">
  	<h1>什么是“节气”？</h1>
    <div>节气指二十四时节和气候，是中国古代订立的一种用来指导农事的补充历法。由于中国农历是一种“阴阳合历”，即根据太阳也根据月亮的运行制定的，因此不能完全反映太阳运行周期，但中国又是一个农业社会，农业需要严格了解太阳运行情况，农事完全根据太阳进行，所以在历法中又加入了单独反映太阳运行周期的“二十四节气”，用作确定闰月的标准。中国正统二十四节气以河南为本。</div>
    <p><img src="images/b_2.gif" width="50" height="50"></p>
  </div>
</script>
<script type="text/template" id="info1Template">
	<div id="info1">		
		<h1>今天是</h1>
		<h2><%= month %>月<%= date %>日</h2>
		<h3><%= jieqi %></h3>
	</div>
</script>
<script type="text/template" id="info2Template">
	<div id="info2">
		<h1>距离</h1>
		<h2><%= njieqi %></h2>
		<h3><%= nmonth %>月<%= ndate %>日</h3>
		<h4>还有<%= ts %>天</h4>
	</div>
</script>
<script type="text/template" id="discTemplate">
	<div id="coverBox"></div>
	<div id="search"><img src="images/search.png"></div>
	<div id="searchBox">&nbsp;</div>
	<div id="about"><img src="images/about.png"></div>
	<div id="aboutBox">
		<h1>评论分享</h1>
		<div class="shareBox">
			<a href="#" class="sina"></a>
			<a href="#" class="tengxun"></a>
			<a href="#" class="weixin"></a>
			<a href="#" class="renren"></a>
		</div>
		<h1>精彩推荐</h1>
		<ul class="recommendBox">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<h1>策划团队</h1>
		<div class="teamBox">
			<p>监制：詹海涛</p>
			<p>策划：胡俊峰 陶一辉 杨帆 王倩</p>
			<p>设计：陶一辉 王倩</p>
			<p>制作：杨帆</p>
		</div>
		<div class="copyrightBox">
			<p>版权所有 中国互联网新闻中心</p>
			<p>Copyright © China.org.cn. All Rights Reserved.</p>
		</div>
	</div>
	<div id="itemBox"></div>
	<div id="discBox">
		<div id="beautifyDisc"></div>
		<div id="triangle-up"></div>
		<div id="disc"></div>
	</div>
</script>
<script type="text/template" id="itemTemplate">
	<h1><%= title %></h1>
	<ul class="itemNav">
		<li class="cur">介绍</li>
		<li>由来</li>
		<li>习俗</li>
		<li>养生</li>
	</ul>
	<div class="itemDoc">
		<div><%= jieshao %></div>
		<div><%= youlai %></div>
		<div><%= xisu %></div>
		<div><%= yangsheng %></div>
	</div>
</script>
<script type="text/template" id="searchTemplate">
	
</script>
<script type="text/template" id="aboutTemplate">
	
</script>
</body>
</html>
